body {
    background: #afd8ff url("images/background.jpg") no-repeat;
    background-position: center;
    background-size: 50%;
}

li a {
    color: #ffffff;
}

ul li {
    list-style: none;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 3px 4px 5px gray;
}

div {
    text-align: center;
}